* {
    color: #ffffff !important;
}

body {
    background-color: #333333;
    padding-top: 100px;
    padding-bottom: 20px;
}

.metro .navigation-bar.fixed-top {
    border-bottom: 1px #ccc solid;
}

.metro .navigation-bar.fixed-bottom {
    border-top: 1px #ccc solid;
}

.metro [class*='btn-'],
.metro input[type='text'] {
    color: #333333 !important;
}

.metro .input-control.text {
    width: 50%;
}

.metro .navigation-bar-content .element .input-control.text [class*='btn-']:active {
    color: #ffffff !important;
    top: 1px;
    right: 1px;
}

.metro .command-button {
    width: 360px;
    height: 50px;
}

*.disabled {
    pointer-events: none;
    cursor: default !important;
    opacity: .5 !important;
}

.table-review-players * {
    color: #000000 !important;
}

.notice a {
    text-decoration: underline;
    font-style: italic;
}