<div class="container">

    <div class="text-center">

        <h1>Welcome to Steamulate!</h1>

        <br>

        <h4 ng-bind="main.getRegisteredPlayersLabel()"></h4>

        <br>

        <button class="command-button info" ng-click="main.goToAddPlayer()">
            <i class="icon-user-2 on-right"></i>
            Add a player to the pool
            <small>Make sure he has funny games first!</small>
        </button>

        <br>
        <br>

        <button class="command-button success" ng-click="main.goToReviewPlayers()">
            <i class="icon-share-3 on-right"></i>
            Review players already in the pool
            <small>Players management made easy</small>
        </button>

        <br>
        <br>

        <button class="command-button warning">
            <i class="icon-stats on-right"></i>
            View players stats
            <small>Hours, number of games, ...</small>
        </button>

        <br>
        <br>

        <button class="command-button danger" ng-click="main.reset()">
            <i class="icon-remove on-right"></i>
            Erase everything
            <small>Removes all players and start from scratch</small>
        </button>

        <br>
        <br>

        <button class="command-button inverse">
            <i class="icon-play on-right"></i>
            Steamulate now!
            <small>Select a game amongst all the libraries</small>
        </button>

    </div>

</div>